<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>B.I.E.R</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="Home.css" />
</head>

<body>

  <!------navbar---------------------------------------->
  <div id="nav">
    <h4><a class="navbartxt" href="/">HOME</a></h4>
    <h4><a class="navbartxt" href="Aboutus.html">ABOUT US</a></h4>
    <h4><a class="navbartxt" href="#page4">FEATURES</a></h4>
    <h4><a class="navbartxt" href="forum">FORUM DISCUSSION</a></h4>
    <h4><a href="users/login">LOGIN</a></h4>
  </div>
  <div id="cursor"></div>
  <div id="cursor-blur"></div>

  <video autoplay loop muted src="./images/vid.mp4"></video>

  <!-----------welcome section--------------------------->
  <div id="main">
    <div id="page1">
      <h1>EDUCATE. LEARN. GROW.</h1>
      <h2>WELCOME TO B.I.E.R!</h2>
      <p>
       B.I.E.R (Botanical Immersive & Educational Resource) offers a virtual interactive garden to explore all the plants available under Ayush Ministry.
       You can also view plants in 3D using our latest AR VR technology. Detect the variety of plant using
       latest AI technologies. Play Mini games to test your knowledge.
       And help to expand our knowledge using forum discussion. 
      </p>
    </div>

    <!----------------quote section---------------------------->
    <div id="page3">
      <p>
        A garden requires patient labor and attention. Plants do not grow merely to satisfy ambitions or to fulfill good
        intentions. They thrive because someone expended effort on them.
      </p>
      <img id="colon1" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg" alt="" />
      <img id="colon2" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg" alt="" />
    </div>

    <!------------------circling 3d images--------------------------------------->
    <div class="banner">
      <div class="slider" style="--quantity: 10">
        <div class="item" style="--position: 1"><img src="./images/pic1.jpg" alt=""></div>
        <div class="item" style="--position: 2"><img src="./images/pic2.jpg" alt=""></div>
        <div class="item" style="--position: 3"><img src="./images/pic3.jpg" alt=""></div>
        <div class="item" style="--position: 4"><img src="./images/pic2.jpg" alt=""></div>
        <div class="item" style="--position: 5"><img src="./images/pic1.jpg" alt=""></div>
        <div class="item" style="--position: 6"><img src="./images/pic2.jpg" alt=""></div>
        <div class="item" style="--position: 7"><img src="./images/pic3.jpg" alt=""></div>
        <div class="item" style="--position: 8"><img src="./images/pic1.jpg" alt=""></div>
        <div class="item" style="--position: 9"><img src="./images/pic2.jpg" alt=""></div>
        <div class="item" style="--position: 10"><img src="./images/pic3.jpg" alt=""></div>
      </div>
    </div>

    <!--------------infinite scrolling line---------------------------->
    <!-- <div id="page2">
      <div id="scroller">
        <div id="scroller-in">
          <h4>IN EVERY</h4>
          <h4>WALK WITH</h4>
          <h4>NATURE, ONE</h4>
          <h4>RECEIVES FAR MORE</h4>
          <h4>THAN HE THINK</h4>
        </div>
        <div id="scroller-in">
          <h4>IN EVERY</h4>
          <h4>WALK WITH</h4>
          <h4>NATURE, ONE</h4>
          <h4>RECEIVES FAR MORE</h4>
          <h4>THAN HE THINK</h4>
        </div>
      </div> -->

      <!-------------------3 cards section------------------------------------------>
      <!-- <div id="cards-container">
        <div class="card" id="card1">
          <div class="overlay">
            <h4>ROAM VIRTUAL<br>GARDEN</h4>
            <p>
              AR VR technology
            </p>
          </div>
        </div>
        <div class="card" id="card2">
          <div class="overlay">
            <h4>3D MODEL</h4>
            <br>
            <p>
              Open CV + AR VR
            </p>
          </div>
        </div>
        <div class="card" id="card3">
          <div class="overlay">
            <h4>Mini Games <br>Forum discussion</h4>
            <p>
              knowledge increases via sharing
            </p>
          </div>
        </div>
      </div>
    </div> -->

    <!----------IMPORTANT---main taking section to 3d reasearch etc---------------->
    <div id="page4">
      <h1>WHAT ARE YOU WAITING FOR?</h1>
      <div class="elem">
        <h2><a class="navbartxt" href="plants">CHECKOUT PLANTS</a></h2>
        <img
          src="./images/pic1.jpg"
          alt="" />
      </div>
      <div class="elem">
        <h2><a class="navbartxt" href="garden">VIRTUAL GARDEN</a></h2>
        <img
          src="./images/pic2.jpg"
          alt="" />
      </div>
      <div class="elem">
        <h2><a class="navbartxt" href="#">MINI GAMES</a></h2>
        <img
          src="./images/pic3.jpg"
          alt="" />
      </div>
      <div class="elem">
        <h2><a class="navbartxt" href="forum">FORUM PAGE</a></h2>
        <img
          src="./images/pic2.jpg"
          alt="" />
      </div>
    </div>

    <!-------------------------contact section-------------------------------------------->
    <br><br><br>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
    integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
    integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="Home.js"></script>
</body>

</html>